

h1 {
	font-family: arial;
	font-size: 30px;
	color: pink;
	margin-left: 40px;
}

h2 {
	font-family: arial;
	font-size: 18px;
	color: black;
	margin: 0;
	color: gray;
}

a {
	font-family: arial;
	font-size: 18px;
	color: pink;
}

p {
	font-family: arial;
	font-size: 18px;
	color: black;
	margin: 0;
}

.caption{
	font-family: arial;
	font-size: 14px;
	color: gray;
	margin: 0;
}

.captionS{
	font-family: arial;
	font-size: 14px;
	color: gray;
	margin: 0;
}

ul {
	list-style-type: none;
	margin-right: 40px;
}

